body{
  background-color: #f6f8f7;
}
/* Barra de navegacion */

.navbar {
  padding: 1rem;
  /*background-color: #572a2e;*/
 /*background-color: #cd7e66 ;*/
 /*background-color: #4d4d86 ;*/
 /*background-color: #a7a7f9 ;*/
 /*background-color: #9ae0fe;*/
 background-image: url(imagenes/fondoNav.jpg);
background-size: cover;
 
  
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
  /*font-family: 'Titan One', cursive;*/
  font-family: 'Signika Negative', sans-serif;

}
p{
  font-family: 'Signika Negative', sans-serif;
}
/* Estilos generales */
li {
  font-family: 'Signika Negative', sans-serif;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Titan One', cursive;
  /*font-family: 'Dancing Script', cursive;*/

}

.seccion-oscura {
  color: rgb(0, 0, 0);
  background-color:#64cbf5;
  /*background-color: #c396f7;*/
  text-align: justify;
}

.seccion-clara {
  color: black;
  /*background-image: url(imagenes/fondoNav.jpg);*/
  background-color: #c396f7;
  /*background-color: #64cbf5;*/
  /*background-color: #3576c6;*/
  background-repeat:repeat;

}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Titan One', cursive;
 
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: white;
  text-align: center;

}

.seccion-texto {
  font-size: 1.5rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero {
  background-color: #ffffff; /*background principal*/
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}

/* Sobre mi */

.sobre-mi {
  height: 540px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/* Experiencia */

.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia .columna {
  padding: 20px;
  border: 5px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: #1b1b32;
}

.experiencia i {
  font-size: 2.5rem;
  color: #3576c6;
  /*background-color: #8077d1;*/
  background-color: #ffffff;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
  
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}


.badge {
  margin: 5px;
}

/* Proyectos */

.proyectos-recientes {
  padding: 20px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 3px solid #420565;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

/* Articulos */

.articulos {
  min-height: 500px;
  padding: 30px;
}

.articulos .card {
  width: 80%;
  max-width: 600px;
  margin: 20px;
}

.articulos .card-header {
  font-weight: bold;
}

/* Testimonios */

.testimonios {
  padding: 20px 30px 80px 30px;
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  padding: 40px 0px 0px 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*background-color: #8077d1;*/
  background-color: #8077d1;
  
}


.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Signika Negative', sans-serif;
  font-weight: bold;
} 

.testimonio-info {
  font-weight: bold;
  text-align: center;
  margin-bottom: 70px;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #1b1c1c;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 100px;
  padding: 20px;
}

.contacto .rectangulo {
  /*margin-top: -5rem;*/
  background-color: #3576c6;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px #3576c6;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: rgb(232, 230, 230);
  font-size: 1.2rem;
}

.contacto button {
  color:  rgb(232, 230, 230);
  font-weight: bold;
  background-color: transparent;
  border: 2px solid  rgb(232, 230, 230);
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: #8077d1;
  
}

.contacto button i {
  color:  rgb(232, 230, 230);
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Pie de pagina (footer) */

footer {
  min-height: 10px;
  background-image: url(imagenes/fondoNav.jpg);
}

.footer-logo {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 15px;
  /*margin-bottom: 30px;*/
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #221f1f;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 100px;
    width: 100px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
  .carousel-item .container {
    padding: 20px 0px 0px 0px;
    width: 100%;
    height: 525px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: #8077d1;*/
    background-color: #8077d1;
    
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 400px;
  }
}
